.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  background-color: #ececec;
}

.name, .logout, .navLink, .logoutWrapper {
  padding: 20px
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.container {

}

.nav {
  display: flex;
  flex-direction: column;
}

.navLink {
  text-decoration: none;
  color: black;
}

.navLink.active {
  color: #007bff;
}
