.root {
  height: 100vh;
}

.main {
  padding: 20px;
}

.root h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.15;
  text-align: center;
}

.root.authed {
  display: flex;
}

.root.authed .main {
  flex: 1;
}
